<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - ship-nix documentation</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body class="relative">
    <div class="base-layout">
        <header class="md:fixed border-b w-full px-4 bg-white h-[60px] flex justify-between items-center z-50" data-header>
            <a href="/" class="font-bold">⛵ ship-nix docs</a>
            <a href="https://shipnix.io">Home</a>
        </header>
        <aside class="md:fixed pt-[100px]" data-sidebar>
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-topic pl-5" {% else %} class="pl-5" {% endif %}>
  <a href="{{ entry.url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
        </aside>
        <main data-main class="border-x w-full pt-[100px] px-20 min-h-screen">
            <article class="prose prose-rose max-w-[850px] mx-auto prose-red pb-20">
            
            <h1>{{title}}</h1>
            <div class="lg:hidden text-sm px-4 text-rose-700">{{ content | toc | safe }}</div>                      
        
            
            {{ content| safe }}
            </article>
        </main>
        
        <aside id="toc" data-toc class="invisible lg:visible md:fixed pt-[100px] right-0 max-w-[18rem] w-full">
            <div class="max-w-[18rem] text-sm px-4 text-rose-700">{{ content | toc | safe }}</div>
        </aside>
    </div>
    <script src="/app.js"></script>
</body>
</html>