<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>{{ title }} - Shipnix documentation</title>
    <link rel="stylesheet" href="/assets/pico.min.css">
    <link rel="stylesheet" href="/assets/prism-theme.css">
    <link rel="stylesheet" href="/assets/app.css">
</head>
<body>
  <header id="site-header" class="container flex justify-between">
    <a href="/" class="brand"><span class="sr-only">Shipnix documentation</span> 
      <img class="brand__logo brand__logo--light" src="/assets/logo-transparent.svg">
      <span>docs</span>
    </a>
    <aside id="header-menu">
      <a class="home-link" href="https://shipnix.io">Back to shipnix.io</a>
    </aside>
    
  </header>
  <main id="layout" class="container">
    <aside id="sidebar" role="document">
      {% set navPages = collections.all | eleventyNavigation %}
      {% macro renderNavListItem(entry) -%}
        <li {% if entry.url == page.url %} 
              class="topic topic--state-active" 
            {% else %} 
              class="topic" 
            {% endif %}
        >
          <a href="{{ entry.url }}">{{ entry.title }}</a>
          {%- if entry.children.length -%}
            <ul class="subtopic">
              {%- for child in entry.children %}
                {{ renderNavListItem(child) }}
              {% endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endmacro %}
      <ul>
        {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
      </ul>
    </aside>
    <article id="main-article"> 
      <h1>{{title}}</h1>             
      {{ content| safe }}
    </article>
  </main>
    <script src="/assets/hyperscript.min.js"></script>
    <script src="/assets/index.js"></script>
</body>
</html>