@tailwind base;

.base-layout {
    display: grid;
    grid-template-columns: 18rem 1fr 1fr 18rem;
    grid-template-rows: max-content;
    grid-template-areas: 
        "header header header header"
        "sidebar main main toc";
}

[data-header] {
    grid-area: header;
}

[data-sidebar] {
    grid-area: sidebar;
}

[data-sidebar] :not(.active-topic) .active-topic  {
    font-weight: bolder;
    @apply text-red-600;
}

[data-sidebar] > ul > li {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

[data-sidebar] > ul > li > ul > li {
    font-size: 1rem;
}

[data-sidebar] .active-topic li:not(.active-topic) {
    font-weight: normal;
    color: rgb(61, 0, 0);
}

[data-sidebar] .active-topic li.active-topic {
    font-weight: bold;
    @apply text-red-600;
}

[data-main] {
    grid-area: main;
}

[data-toc] {
    grid-area: toc;
}

[data-toc] li {
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
}

@tailwind components;
@tailwind utilities;

