@import "prism-theme.css";

@tailwind base;

:root {
  --deleted-line-color: #848381;
}

/* TODO: Left column invisible on small screens */
.base-layout {
    display: grid;
    grid-template-columns: 18rem 1fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas: 
        "header header header"
        "sidebar main main";
}

@media  (min-width: 1024px) { 
    .base-layout {
        display: grid;
        grid-template-columns: 18rem 1fr 1fr 18rem;
        grid-template-rows: max-content;
        grid-template-areas: 
            "header header header header"
            "sidebar main main toc";
    }

 }

[data-header] {
    grid-area: header;
}

[data-sidebar] {
    grid-area: sidebar;
}

[data-sidebar] :not(.active-topic) .active-topic  {
    font-weight: bolder;
    @apply text-rose-600;
}

[data-sidebar] > ul > li {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

[data-sidebar] > ul > li > ul > li {
    font-size: 1rem;
}

[data-sidebar] .active-topic li:not(.active-topic) {
    font-weight: normal;
    color: rgb(61, 0, 0);
}

[data-sidebar] .active-topic li.active-topic {
    font-weight: bold;
    @apply text-red-600;
}

[data-main] {
    grid-area: main;
}

[data-toc] {
    grid-area: toc;
}


[data-toc] ol {
    padding-bottom: 0.5rem;
}

[data-toc] li {
    padding-left: 0.7rem;
}

[data-toc] li a {
    display: inline-block;
    padding-bottom: 0.5rem;
}

.deleted-sign.deleted {
  color : var(--deleted-line-color);
  text-decoration: line-through;
}


.deleted-sign.deleted * {
  color : var(--deleted-line-color);
}

.highlight-line-add {
  position: relative;
  @apply bg-green-900;
  filter: contrast(1.2);
}

@tailwind components;
@tailwind utilities;

